# Configuración de la Base de Datos PostgreSQL
POSTGRES_USER=tu_usuario_aqui
POSTGRES_PASSWORD=tu_contrasena_aqui
POSTGRES_DB=tu_base_de_datos_aqui

# Configuración del contenedor
POSTGRES_HOST=postgres
POSTGRES_PORT=5432