<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Clinical Case</title>
        <link rel="stylesheet" href="/static/css/professor/create_case.css"> 
        <link rel="icon" type="image/png" href="/static/images/logoWeb.jpg">
    </head>
    <body>
        <div class="form-container">
            <h1>New Patient Profile</h1>
            <p>Define the psychological profile for the simulation</p>

            <form method="post" action="/professor/create-case">
                <input type="text" name="patient_name" placeholder="Patient's Name (e.g., Deidre)" required>
                
                <input type="number" name="age" placeholder="Age (e.g., 24)" required min="5" max="99">

                <textarea name="problem_description" placeholder="Describe the psychological issue... (e.g., Deidre suffers from severe social anxiety. She recently got promoted and struggles to speak in team meetings, experiencing palpitations and sweating.)" required rows="5"></textarea>

                <div class="input-group">
                    <label for="deadline">Deadline</label>
                    <input type="date" id="deadline" name="deadline">
                </div>

                <div class="checkbox-container">
                    <input type="checkbox" name="is_evaluable" value="true" id="evaluable">
                    <label for="evaluable">This case is Evaluable</label>
                </div>

                <div class="checkbox-container">
                    <input type="checkbox" name="is_visible" value="true" id="visible" checked>
                    <label for="visible">Visible to students</label>
                </div>

                <button type="submit" class="btn-primary">Save Patient</button>
            </form>

            <a href="/dashboard-professor" class="back-link">← Back to dashboard</a>
        </div>
    </body>
</html>