<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard_profesor.css">
</head>
<body>

    <div class="dashboard-container">
        <h1>Professor Dashboard</h1>
        <p>Welcome, {{ username }}</p>

        <div class="dashboard-card">
            <a href="/professor/create-case" style="width:100%;">
                <button class="btn btn-primary">
                    Create Clinical Case
                </button>
            </a>

            <a href="/professor/cases" style="width:100%;">
                <button class="btn btn-secondary">
                    View My Cases
                </button>
            </a>

            <a href="/students" style="width:100%;">
                <button class="btn btn-accent">
                    View Students
                </button>
            </a>

            <a href="/professor/edit-profile" style="width:100%;">
                <button class="btn btn-secondary">
                    Edit Profile
                </button>
            </a>

            <a href="/logout" style="width:100%;">
                <button class="btn btn-danger">
                    Sign out
                </button>
            </a>
        </div>
    </div>

</body>
</html>

