<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students List</title>
    <link rel="stylesheet" href="/static/lista_estudiantes.css">
    <link rel="icon" type="image/png" href="/static/images/logoWeb.jpg">
</head>
<body>

<div class="page-container">
    <h1>Students</h1>

    <div class="students-card">
        {% if students %}
        <table class="students-table">
            <thead>
                <tr>
                    <th>Student</th>
                        <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td class="student-name">
                        {{ student.nombre }} {{ student.apellidos }}
                    </td>

                    {% if role == "admin"%}
                    <td>
                        <form action="/admin/delete-student/{{ student.id }}" method="post">
                            <button class="btn-delete" type="submit">Delete</button>
                        </form>
                    </td>
                    {% endif %}
                    {% if role == "profesor" %}
                    <td>
                        <a  href="/professor/student/{{ student.id }}/chats" class="btn-view">
                            View conversations
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No students found.</p>
        {% endif %}
    </div>
    {%if role == "admin"%}
    <a href="/dashboard-admin" class="back-link">← Back</a>
    {% endif %}
    {%if role == "profesor"%}
    <a href="/dashboard-profesor" class="back-link">← Back</a>
    {% endif %}
</div>

</body>
</html>
